<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS GRIDS</title>
</head>
<body>
  <!-- Layout 1 : Basic Header & Side bar -->
  <h2>Layout 1 :: Basic Header & Side Bar </h2>
  <div class="wrapper">
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quaerat laborum sed. Molestiae modi ducimus necessitatibus, nulla numquam at enim odio voluptatem repudiandae dignissimos esse eum excepturi porro ea sit nihil iure praesentium temporibus minima ipsum autem expedita delectus. Dolores similique illo totam soluta vitae. Beatae eligendi, dolor officiis facere ut alias maxime necessitatibus commodi voluptates, maiores praesentium cum non quam accusantium eos asperiores. Harum suscipit, blanditiis, provident laudantium soluta aperiam consequuntur tempora velit iste ut accusantium ducimus laboriosam fugit?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam nemo in eum soluta, obcaecati delectus tempore magni eligendi doloremque laboriosam reprehenderit quisquam similique placeat odit nulla eos? Consequuntur expedita voluptas quas, officiis nulla commodi iste non ipsum praesentium tempore!
    </div>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quaerat laborum sed. Molestiae modi ducimus necessitatibus, nulla numquam at enim odio voluptatem repudiandae dignissimos esse eum excepturi porro ea sit nihil iure praesentium temporibus minima ipsum autem expedita delectus. Dolores similique illo totam soluta vitae. Beatae eligendi, dolor officiis facere ut alias maxime necessitatibus commodi voluptates, maiores praesentium cum non quam accusantium eos asperiores. Harum suscipit, blanditiis, provident laudantium soluta aperiam consequuntur tempora velit iste ut accusantium ducimus laboriosam fugit?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam nemo in eum soluta, obcaecati delectus tempore magni eligendi doloremque laboriosam reprehenderit quisquam similique placeat odit nulla eos? Consequuntur expedita voluptas quas, officiis nulla commodi iste non ipsum praesentium tempore!
    </div>
  </div>
  <h2>Layout 2 - </h2>
  <div class="wrapper-2">
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nostrum ad ab ipsum impedit delectus, dolorem accusantium iusto modi ratione error natus inventore repudiandae temporibus molestiae sapiente beatae voluptatum consectetur ipsam dicta fugiat minima maxime dolor. Deleniti aut ducimus et.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div class="nested">
      <div>lorem</div>
      <div>lorem</div>
      <div>lorem</div>
      <div>lorem</div>
      <div>lorem</div>
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam.</div>
  </div>
</body>
</html>
<router-outlet></router-outlet>
