.wrapper{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    div{
        padding: 1em;
        background-color: lightgrey;
    }
    :nth-child(odd){
        background-color: grey !important;
    }
     
}